<app-navbar></app-navbar>
<h1>Register</h1>

<div class="formContainer">

    <form [formGroup]="registerForm" (ngSubmit)="post()" novalidate class="centerForm">
        <mat-form-field appearance="fill" class="inputField">
            <mat-label>Email</mat-label>
            <input #emailInp matInput placeholder="example@gmail.com" formControlName="email" />
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill" class="inputField">
            <mat-label>Password</mat-label>
            <input #pwInp matInput placeholder="password" formControlName="password" type="password" />
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill" class="inputField">
            <mat-label>Re-Enter Password</mat-label>
            <input #repwInp matInput placeholder="reenter password" formControlName="reenterPassword" type="password" />
        </mat-form-field>
        <br>

        <span>
            <button class="loginBtn-register" type="submit">
                Register
            </button>
            <button class="loginBtn-cancel" type="reset" value="Reset">
                Cancel
            </button>
        </span>

    </form>

    <div class="loginRegister">
        <p>Have an account? <a routerLink="/login">Log in now!</a></p>
    </div>

    <div class="error">
        <div #unsuccessLogin *ngIf="div1">
            Password and Reenter Password values do not match! Try Again!
        </div>
    </div>

</div>