<mat-toolbar>
    <span>myStore</span>
    <span>

        <span class="navbarItem">

            <span class="userName">
                <img class="user" [src]="profilePicture" width="70" height="70" />
                {{this.currUser$.email}}
            </span>

        </span>

        <span class="navbarItem">

            <span class="menuWrapper">
                <button mat-button [matMenuTriggerFor]="menu" class="navbarMenu">
                    <mat-icon>menu</mat-icon>
                    Menu
                </button>

                <mat-menu #menu="matMenu">

                    <button mat-menu-item routerLink="/user">
                        <mat-icon>account_circle</mat-icon>
                        User Profile
                    </button>
                    <button mat-menu-item routerLink="/shop">
                        <mat-icon>add_shopping_cart</mat-icon>
                        Shop
                    </button>
                    <button mat-menu-item routerLink="/cart">
                        <mat-icon>shopping_cart</mat-icon>
                        Cart
                    </button>

                    <button mat-menu-item (click)="deleteSessionUserInfo()" routerLink="/login">
                        <mat-icon>power_settings_new</mat-icon>
                        Log out
                    </button>
                </mat-menu>
            </span>
        </span>
    </span>
</mat-toolbar>
<br>
<h1 style="text-align: center;">Cart</h1>
<div *ngIf="emptyCartCheck">
    <button (click)="emptyCart()" class="deleteBtn">
        Clear Cart
    </button>
    <button (click)="checkout()" class="adminBtn">
        Checkout
    </button>
    <table class="basicTable" style="text-align: center;">
        <thead>
            <tr>
                <td>Image</td>
                <td>Product Name</td>
                <td>Price</td>
                <td>Action</td>
            </tr>
        </thead>

        <tr *ngFor="let c of cartItems$ | async">
            <td><img class="product" [src]="c.picture" width="70" height="70" /></td>
            <td>{{c.product_name}}</td>
            <td>${{c.price.toFixed(2)}}</td>
            <td><button mat-icon-button color="warn">
                    <mat-icon (click)="delete(c.cid)">delete</mat-icon>
                </button>
            </td>
        </tr>
    </table>
    <p style="text-align: center;" id="price"></p>
</div>

<div *ngIf="defEmptyCart">
    <p>
        Your cart is empty!
    </p>
    <p><strong>Go add some furniture!</strong></p>
</div>